@model InventarioGerenciamento.Web.Models.DAL.funcao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>funcao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.f_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.f_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
